* {
    background-color: #eceef1;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    flex-flow: column wrap;
}

/* header section */
#header {
    
}

div#header-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 33px;
}

button {
    background-color: #0077c5;
    border: 1px solid #000000;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin: 2px;
    cursor: pointer;
    font-size: small;
}

i#lock {
    padding-right: 10px;
    background: transparent;
}

div#header-signIn, footer {
    font-size: small;
}

p#info, a {
    margin: 5px 5px 0px 0;
    font-size: small;
}

a#forget-password {
    color: #0077c5;
    text-decoration: none;
}

div#banner {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 12px;
}

h3 {
    color: grey;
    margin-bottom: 0px;
}

span.banner-item {
    font-size: medium;
    color: grey;
    cursor: pointer;
}
/* End of header styling */

/* main body section  */
#main {
    margin-bottom: 15px;
}

section#reg-form {
    margin: 0 auto;
    width: 30%;
    height: 300px;
    border: 1px solid lightgrey;
    background-color: #ffffff;
}


/* footer section  */
#footer {
    text-align: center;
    padding: 5px;
    color: gray;
}

span.footer-item {
    margin: 0 5px 0 5px;
    cursor: pointer;
}

p.footer-p {
    margin: 5px 0 0 0;
}

span.footer-item:hover {
    text-decoration: underline;
    color: black;
}

p#footer-span {
    margin: 10px 0 0 0;
}
